{%extends "base.html"%}
<h1>Welcome to the {{name}} page</h1>
{%block content%}
  <div>
    <p>You are welcome to {{title}}! Enjoy your stay and hope to get better treatments</p>
    <h2>These are some of our products that we use to provide efficient support and keep you free from haemoroids</h2>
  </div>
  <div class="fluid-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row row-cols-2">
              <div class="col"><img src="images/bf1.jpg" class="d-block w-100" alt="Bfsuma-img"></div>
              <div class="col"><img src="images/bf2.jpg" class="d-block w-100" alt="Bfsuma-img"></div>
              <div class="col"><img src="images/bf3.jpg" class="d-block w-100" alt="Bfsuma-img"></div>
              <div class="col"><img src="images/bf4.jpg" class="d-block w-100" alt="Bfsuma-img"></div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row row-cols-2">
              <div class="col"><img src="images/bf5.jpg" class="d-block w-100" alt="Bfsuma-img"></div>
              <div class="col"><img src="images/bf6.jpg" class="d-block w-100" alt="Bfsuma-img"></div>
              <div class="col"><img src="images/bf7.jpg" class="d-block w-100" alt="Bfsuma-img"></div>
              <div class="col"><img src="images/bf8.jpg" class="d-block w-100" alt="Bfsuma-img"></div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row row-cols-2">
              <div class="col"><img src="images/bf9.jpg" class="d-block w-100" alt="Bfsuma-img"></div>
              <div class="col"><img src="images/bf10.jpg" class="d-block w-100" alt="Bfsuma-img"></div>
              <div class="col"><img src="images/bf11.jpg" class="d-block w-100" alt="Bfsuma-img"></div>
              <div class="col"><img src="images/bf12.jpg" class="d-block w-100" alt="Bfsuma-img"></div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row row-cols-2">
              <div class="col"><img src="..." class="d-block w-100" alt="..."></div>
              <div class="col"><img src="..." class="d-block w-100" alt="..."></div>
              <div class="col"><img src="..." class="d-block w-100" alt="..."></div>
              <div class="col"><img src="..." class="d-block w-100" alt="..."></div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row row-cols-2">
              <div class="col"><img src="..." class="d-block w-100" alt="..."></div>
              <div class="col"><img src="..." class="d-block w-100" alt="..."></div>
              <div class="col"><img src="..." class="d-block w-100" alt="..."></div>
              <div class="col"><img src="..." class="d-block w-100" alt="..."></div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row row-cols-2">
              <div class="col"><img src="..." class="d-block w-100" alt="..."></div>
              <div class="col"><img src="..." class="d-block w-100" alt="..."></div>
              <div class="col"><img src="..." class="d-block w-100" alt="..."></div>
              <div class="col"><img src="..." class="d-block w-100" alt="..."></div>
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
{%endblock%}